
<!-- about.html -->
{% extends 'base.html' %}

{% block content %}
    {% comment %} {% include '_topbar.html' %} {% endcomment %}
    {% include '_navbar.html' %}
    <div>
    <div class="container"></div>
        <h2>About Us</h2>
        <p class="text-primary">
         Welcome to our RSY hotel, where comfort meets elegance. We take pride in offering top-notch services and facilities to make your stay memorable.</p>
         <p class="text-primary">
         Founded in 2023, our hotel is situated in the heart of the city, providing easy access to popular attractions and business districts.</p>
         
         <h3>Our Mission</h3>
         <p class="text-primary">
            To provide exceptional hospitality and outstanding customer service that exceeds our guests’ expectations.
         </p>
        <h3>Services We Offer</h3>
        <ul class="list-group mb-6">
            <li class="list-group-item">24/7 Room Service</li>
            <li class="list-group-item">Complimentary Breakfast</li>
            <li class="list-group-item">Free Wi-Fi</li>
            <li class="list-group-item">Luxury Spa Services</li>
            <li class="list-group-item">Fitness Center</li>
            <li class="list-group-item">Business Center</li>
            <li class="list-group-item">Airport Shuttle</li>
        </ul>
    </div
    </div>>
    
    {% comment %} {% include '_footer.html' %} {% endcomment %}
{% endblock %}